{% extends 'base.html.twig' %}

{% block title %}{{ portfolio.projet.titre }}{% endblock %}

{% block body %}
{% if portfolio.projet.client.societe %}
  {% set client = portfolio.projet.client.societe %}
{% else %}
  {% set client = portfolio.projet.client.nom ~ ' ' ~ portfolio.projet.client.prenom %}
{% endif %}
{{ component('breadcrumbs', {'title': block('title')}) }}

<section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

              {% for image in portfolio.imagesPortfolios %}
                <div class="swiper-slide">
                  <img src="/{{ image.url }}" alt="">
                </div>  
              {% endfor %}

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Information</h3>
              <ul>
                <li><strong>Client</strong>: {{ client }}</li>
                <li><strong>Date du projet</strong>: {{ portfolio.createdAt ? portfolio.createdAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") : '' }}</li>
                <li><strong>Url du projet</strong>: <a href="{{ portfolio.url }}">{{ portfolio.url }}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{ portfolio.projet.titre }}</h2>
              <p>
                {{ portfolio.details|raw }}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
{% endblock %}
    