<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Menu</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{path('app_home')}}">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_home', {'_fragment': 'temoignages'}) }}">Témoignages</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_home', {'_fragment': 'statistiques'}) }}">Statistiques</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_home', {'_fragment': 'about'}) }}">Fonctionnement</a></li>
                        <!--
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Team</a></li>
                        -->
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_home', {'_fragment': 'portfolio'}) }}">Portfolio</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{path('app_home', {'_fragment': 'contact'})}}">Nous contacter</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="">Se connecter</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="">S'enregistrer</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Nos coordonnées</h4>
                    <p>
                        121 rue Maurice Burrus <br>
                        68160 Ste Croix aux mines<br>
                        France <br><br>
                        <strong>Téléphone:</strong> 07 54 27 07 77<br>
                        <strong>Email:</strong> contact@expace-development.fr<br>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>La société</h3>
                    <p>Notre entreprise développe des applications Web et web mobile fiables et de haute qualité pour les besoins des entreprises et des particuliers depuis 2005.</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/ExpaceDevelopment"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/ExpaceDevelop"><i class="fab fa-twitter"></i></a>
                        <!--
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        -->
                        <a href="https://github.com/expace-dev"><i class="fab fa-git"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright 2021 <strong><span>Expace Development</span></strong>. Tous droits réservés
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>