<li><a href="{{path('app_home')}}">Accueil</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'portfolio'}) }}">Portfolio</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'temoignages'}) }}">Temoignages</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'statistiques'}) }}">Statistiques</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'about'}) }}">Fonctionnement</a></li>
<li><a href="{{path('app_contact')}}">Contact</a></li>
<!--<li><a href="{{ path('app_home', {'_fragment': 'team'}) }}" class="">Team</a></li>-->
{% if is_granted("ROLE_USER") %}
    {% if app.user.avatar %}
    <li class="dropdown"><a href="#"><img src="{{ app.user.avatar }}" class="avatar avatar-mini"> <i class="bi bi-chevron-down"></i></a>
    {% else %}
    <li class="dropdown"><a href="#"><img src="/images/no-avatar.jpg" class="avatar avatar-mini"> <i class="bi bi-chevron-down"></i></a>
    {% endif %}
        <ul>
            {% if is_granted("ROLE_ADMIN") %}
            <li><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
            <li><a href="{{ path('app_admin_users_index') }}">Clients</a></li>
            <li><a href="{{ path('app_admin_portfolios_index') }}">Réalisations</a></li>
            <li><a href="{{ path('app_admin_projets_index') }}">Projets</a></li>
            <li><a href="{{ path('app_admin_temoignages_index') }}">Témoignages</a></li>
            <li class="dropdown"><a href="#"><span>Gestion du blog</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="{{ path('app_admin_blog_index') }}">Articles</a></li>
                    <li><a href="{{ path('app_admin_categories_blog_index') }}">Catégories</a></li>
                    <li><a href="{{ path('app_admin_comments_blog_index') }}">Commentaires</a></li>  
                </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Comptabilité</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="{{ path('app_admin_factures_index') }}">Factures</a></li>
                    <li><a href="">Paiements</a></li>
                    <li><a href="{{ path('app_admin_devis_index') }}">Devis</a></li>
                </ul>
            </li>
            
            <li><a href="{{ path('app_admin_activites_new') }}">Activités</a></li>
            <li><a href="{{ path('app_profil_edit') }}">Profil</a></li>
            {% else %}
            <li><a href="">Dashboard</a></li>
            <li><a href="{{ path('app_client_projets_index') }}">Mes projets</a></li>
            <li><a href="{{ path('app_client_devis_index') }}">Mes devis</a></li>
            <li><a href="{{ path('app_client_factures_index') }}">Mes factures</a></li>
            <li><a href="{{ path('app_client_temoignages_new') }}">Mon avis</a></li>
            <li><a href="{{ path('app_profil_edit') }}">Mon profil</a></li>
            {% endif %}
        </ul>
    </li>
{% endif %}