{% if is_granted("ROLE_USER") %}
    {% if is_granted("ROLE_ADMIN") %}
        je suis admin
    {% else %}
        je suis client
    {% endif %}
{% else %}
    <li><a href="{{path('app_home')}}">Accueil</a></li>
    <li><a href="{{ path('app_home', {'_fragment': 'portfolio'}) }}">Portfolio</a></li>
    <li><a href="{{ path('app_home', {'_fragment': 'temoignages'}) }}">Temoignages</a></li>
    <li><a href="{{ path('app_home', {'_fragment': 'statistiques'}) }}">Statistiques</a></li>
    <li><a href="{{ path('app_home', {'_fragment': 'about'}) }}">Fonctionnement</a></li>
    <li><a href="{{path('app_contact')}}">Contact</a></li>
    <!--<li><a href="{{ path('app_home', {'_fragment': 'team'}) }}" class="">Team</a></li>-->
{% endif %}