<div class="row">
    <div class="col-lg-3">
        <form action="" class="input-icon my-3 my-lg-0">
            <div class="gs-container">
                <input type="text" class="form-control header-search">
            </div>
            <div class="input-icon-addon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive mt-2">
    <table class="table card-table table-vcenter table-hover">
        <thead class="thead-dark form-group-sm">
            <tr>
                <th>Statut</th>
                <th>Date</th>
                <th>Projet</th>
                <th class="text-end"><select name="search_limit" class="search_limit" style="width: 60px;"><option value="5">5</option><option value="15" selected="selected">15</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="999999999">all</option></select></th>
            </tr>
        </thead>
        <tbody>
            {% if this.allFactures %}
                {% for facture in this.allFactures.data %}
                    <tr>
                        <td>
                        {% if facture.statut == 'en_attente' %}
                                <div class="badge bg-warning" style="min-width:110px">Non payé</div>
                            {% else %}
                                <div class="badge bg-success" style="min-width:110px">Payé</div>    
                            {% endif %}
                        </td>
                        <td>{{ facture.createdAt|date('d-m-Y') }}</td>
                        <td>{{ facture.projet.titre }}</td>
                        <td class="text-end">
                            <div class="btn-group">
                                <a class="btn btn-secondary" target="_blank" href="{{ path('app_client_factures_show', {'slug': facture.slug}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Voir cette facture" data-bs-custom-class="custom-tooltip"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-success" href="{{ path('app_paiement', {'id': facture.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Payer cette facture" data-bs-custom-class="custom-tooltip"><i class="fa-solid fa-credit-card"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="4" class="text-center">Aucune donnée dans le tableau</td>
            {% endif %}
        </tbody>
    </table>
    {% if this.allFactures %}
        <div style="padding-right: 10px;">
            {{ component('pagination', {
                'pages': this.allFactures.pages,
                'currentPage': this.allFactures.page,
                'limit': this.allFactures.limit,
                'path': 'app_client_factures_index',
                'position': 'justify-content-end'
            }) }}
        </div>
    {% endif %}
</div>
