<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row portfolio-container">
            {% if this.allPortfolios %}
                {% for portfolio in this.allPortfolios.data %}
                    {% if portfolio.projet.client.societe %}
                        {% set client = portfolio.projet.client.societe %}
                    {% else %}
                        {% set client = portfolio.projet.client.nom ~ ' ' ~ portfolio.projet.client.prenom %}
                    {% endif %}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            {% for image in portfolio.imagesPortfolios %}
                                {% if loop.first %}
                                    <img src="{{ image.url }}" class="img-fluid" alt="">
                                {% endif %}
                            {% endfor %}
                            <div class="portfolio-info">
                                <h4>{{ client }}</h4>
                                <div class="portfolio-links">
                                    {% for image in portfolio.imagesPortfolios %}
                                        {% if loop.first %}
                                            <a href="{{ image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ client }}"><i class="bx bx-plus"></i></a>
                                        {% endif %}
                                    {% endfor %}
                                    <a href="{{ path('app_portfolios_details', {'id': portfolio.id}) }}" title="En savoir plus"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="mt-1 mb-5 text-center">Aucune données à afficher</div>
            {% endif %}
        </div>
        {% if this.allPortfolios %}
            {{ component('pagination', {
                'pages': this.allPortfolios.pages,
                'currentPage': this.allPortfolios.page,
                'limit': this.allPortfolios.limit,
                'path': 'app_portfolios_index',
                'position': 'justify-content-center'
            }) }}
        {% endif %}
    </div>
</section>